src/components/cart/aside.pug
aside.cart__total-info
	h3 Состав заказа
	.order-content
		mixin orderContent(title, value, price, totalDelivery, deliveryPrice)
			if (price)
				.order-content__item
					.order-content__text= title
					.order-content__value
						span.price.js-total-price= value
			else if (totalDelivery)
				.order-content__item
					.order-content__text= title
					.order-content__value
						span.price.js-total-price-with-delivery= value
			else if (deliveryPrice)
				.order-content__item
					.order-content__text= title
					.order-content__value
						span.price.js-price-delivery= value
			else
				.order-content__item
					.order-content__text= title
					.order-content__value
						span.js-goods-quantity= value

		+orderContent('Товаров в корзине:', 3, false, false, false)
		+orderContent('Стоимость товаров:', '63000', true, false, false)
		+orderContent('Доставка:', '500', false, false, true)

	.order-content__promocode
		label У меня есть промокод:
		input(type="text" class="inp-text js-promo-code" id="promocode")

	.order-content__summ
		+orderContent('Итого к оплате', '63500', false, true, false)

build/components/cart/aside.html

<aside class="cart__total-info">
  <h3>Состав заказа</h3>
  <div class="order-content">
        <div class="order-content__item">
          <div class="order-content__text">Товаров в корзине:</div>
          <div class="order-content__value"><span class="js-goods-quantity">3</span></div>
        </div>
        <div class="order-content__item">
          <div class="order-content__text">Стоимость товаров:</div>
          <div class="order-content__value"><span class="price js-total-price">63000</span></div>
        </div>
        <div class="order-content__item">
          <div class="order-content__text">Доставка:</div>
          <div class="order-content__value"><span class="price js-price-delivery">500</span></div>
        </div>
  </div>
  <div class="order-content__promocode">
    <label>У меня есть промокод:</label>
    <input class="inp-text js-promo-code" type="text" id="promocode"/>
  </div>
  <div class="order-content__summ">
        <div class="order-content__item">
          <div class="order-content__text">Итого к оплате</div>
          <div class="order-content__value"><span class="price js-total-price-with-delivery">63500</span></div>
        </div>
  </div>
</aside>
