build/components/cart/step-1.html

<div class="cart__step-item cart__step-item--1 opened" id="step-1">
  <h2>Ваша корзина</h2>
  <div class="cart-list">
    <div class="cart-list-empty hidden">В вашей корзине нет товаров.</div>
        <div class="cart-list__item" id="item-1">
          <div class="cart-list__img"><img src="images/product1.jpg" alt="Название товара"/></div>
          <div class="cart-list__info">
            <p>Название товара</p><span>коричневый</span><span>Количество: 1</span>
          </div>
          <div class="cart-list__price"><span class="price">10 500</span></div>
          <div class="cart-list__quantity">
            <div class="quantity">
              <input type="text" value="3" id="val-1"/>
              <div class="quantity__arrows">
                <div class="quantity__up js-increase" data-id="1"></div>
                <div class="quantity__down js-decrease" data-id="1"></div>
              </div>
            </div>
          </div>
          <div class="cart-list__item-summ"><span class="price js-item-price" id="summ-1">31500</span></div>
          <div class="cart-list__del"><span class="js-del" data-del="1"></span></div>
        </div>
        <div class="cart-list__item" id="item-2">
          <div class="cart-list__img"><img src="images/product2.png" alt="Название товара"/></div>
          <div class="cart-list__info">
            <p>Название товара</p><span>серебристый</span><span>Количество: 1</span>
          </div>
          <div class="cart-list__price"><span class="price">10500</span></div>
          <div class="cart-list__quantity">
            <div class="quantity">
              <input type="text" value="2" id="val-2"/>
              <div class="quantity__arrows">
                <div class="quantity__up js-increase" data-id="2"></div>
                <div class="quantity__down js-decrease" data-id="2"></div>
              </div>
            </div>
          </div>
          <div class="cart-list__item-summ"><span class="price js-item-price" id="summ-2">21000</span></div>
          <div class="cart-list__del"><span class="js-del" data-del="2"></span></div>
        </div>
        <div class="cart-list__item" id="item-3">
          <div class="cart-list__img"><img src="images/product3.jpg" alt="Название товара"/></div>
          <div class="cart-list__info">
            <p>Название товара</p><span>черный</span><span>Количество: 1</span>
          </div>
          <div class="cart-list__price"><span class="price">10500</span></div>
          <div class="cart-list__quantity">
            <div class="quantity">
              <input type="text" value="1" id="val-3"/>
              <div class="quantity__arrows">
                <div class="quantity__up js-increase" data-id="3"></div>
                <div class="quantity__down js-decrease" data-id="3"></div>
              </div>
            </div>
          </div>
          <div class="cart-list__item-summ"><span class="price js-item-price" id="summ-3">10500</span></div>
          <div class="cart-list__del"><span class="js-del" data-del="3"></span></div>
        </div>
    <div class="cart-list__summ"><span>Итого товаров</span><span class="price js-total-price">63000</span></div>
  </div>
  <button class="next-step js-tabs" data-tab="2">Перейти к доставке</button>
</div>

src/components/cart/step-1.pug
#step-1.cart__step-item.cart__step-item--1.opened
	h2 Ваша корзина

	.cart-list

		.cart-list-empty.hidden
			| В вашей корзине нет товаров.

		mixin cartItem(src, title, color, count, price, value, id, totalPrice)
			div(class="cart-list__item" id="item-"+id)
				.cart-list__img
					img(src= src alt= title)
				.cart-list__info
					p= title
					span= color
					span= count
				.cart-list__price
					span.price= price
				.cart-list__quantity
					.quantity
						input(type="text" value= value id="val-"+id)
						.quantity__arrows
							div(class="quantity__up js-increase" data-id= id)
							div(class="quantity__down js-decrease" data-id= id)
				.cart-list__item-summ
					span(class="price js-item-price" id="summ-"+id)= totalPrice
				.cart-list__del
					span(class="js-del" data-del= id)

		+cartItem('images/product1.jpg', 'Название товара', 'коричневый', 'Количество: 1', '10 500', 3, '1', '31500')
		+cartItem('images/product2.png', 'Название товара', 'серебристый', 'Количество: 1', '10500', 2, '2', '21000')
		+cartItem('images/product3.jpg', 'Название товара', 'черный', 'Количество: 1', '10500', 1, '3', '10500')


		.cart-list__summ
			span Итого товаров
			span.price.js-total-price 63000

	button(data-tab="2" class="next-step js-tabs") Перейти к доставке
