src/components/cart/step-2.pug
#step-2.cart__step-item
	.delivery

		h2 Доставка

		.delivery__item
			h3 Куда доставить

			.group-form
				label Адрес
				input(type="text" class="inp-text" placeholder="Город, улица, номер дома")
			.group-form-address
				input(type="text" class="inp-text" placeholder="Квартира")
				input(type="text" class="inp-text" placeholder="Этаж")
				input(type="text" class="inp-text" placeholder="Подъезд")

			.group-form
				label Комментарий курьеру
				textarea(placeholder="Как пройти, время, домофон")

		.delivery__item
			h3 Кому доставить

			.group-form
				label Имя и фамилия
				input(type="text" class="inp-text")
			.group-form
				label Номер телефона
				input(type="text" class="inp-text" placeholder="+7 (000) 000-00-00")
			.group-form
				label Адрес электронной почты
				input(type="text" class="inp-text")

	button(data-tab="3" class="next-step js-tabs") Перейти к оплате

build/components/cart/step-2.html

<div class="cart__step-item" id="step-2">
  <div class="delivery">
    <h2>Доставка</h2>
    <div class="delivery__item">
      <h3>Куда доставить</h3>
      <div class="group-form">
        <label>Адрес</label>
        <input class="inp-text" type="text" placeholder="Город, улица, номер дома"/>
      </div>
      <div class="group-form-address">
        <input class="inp-text" type="text" placeholder="Квартира"/>
        <input class="inp-text" type="text" placeholder="Этаж"/>
        <input class="inp-text" type="text" placeholder="Подъезд"/>
      </div>
      <div class="group-form">
        <label>Комментарий курьеру</label>
        <textarea placeholder="Как пройти, время, домофон"></textarea>
      </div>
    </div>
    <div class="delivery__item">
      <h3>Кому доставить</h3>
      <div class="group-form">
        <label>Имя и фамилия</label>
        <input class="inp-text" type="text"/>
      </div>
      <div class="group-form">
        <label>Номер телефона</label>
        <input class="inp-text" type="text" placeholder="+7 (000) 000-00-00"/>
      </div>
      <div class="group-form">
        <label>Адрес электронной почты</label>
        <input class="inp-text" type="text"/>
      </div>
    </div>
  </div>
  <button class="next-step js-tabs" data-tab="3">Перейти к оплате</button>
</div>
