build/components/cart/step-3.html

<div class="cart__step-item" id="step-3">
  <div class="payment">
    <h2>Оплата</h2>
    <div class="payment__item">
      <h3>Адрес доставки</h3>
      <div class="group-form">
        <div class="group-form-radio">
          <input type="radio" name="payment" id="online" checked="checked"/>
          <div class="group-form-radio__text">
            <label for="online">Оплата онлайн<span>Банковской картой</span></label>
          </div>
        </div>
        <div class="group-form-radio">
          <input type="radio" name="payment" id="ondelivery"/>
          <div class="group-form-radio__text">
            <label for="ondelivery">Оплата при получении<span>Наличными или банковской картой</span></label>
          </div>
        </div>
      </div>
    </div>
    <div class="payment__item">
      <h3>Данные карты</h3>
      <div class="group-form">
        <label>Владелец карты</label>
        <input class="inp-text" type="text" placeholder="Имя и фамилия"/>
      </div>
      <div class="group-form">
        <label>Номер карты</label>
        <input class="inp-text" type="text" placeholder="XXXX XXXX XXXX XXXX"/>
      </div>
      <div class="group-form-card-info">
        <div class="group-form-card-info__item">
          <label>Действительна до</label>
          <input class="inp-text" type="text" placeholder="ММ / ГГ"/>
        </div>
        <div class="group-form-card-info__item">
          <label>Код безопасности</label>
          <input class="inp-text" type="text"/>
        </div>
      </div>
    </div>
  </div>
  <button class="next-step js-tabs" data-tab="4">Оплатить</button>
</div>

src/components/cart/step-3.pug
#step-3.cart__step-item

	.payment

		h2 Оплата

		.payment__item
			h3 Адрес доставки

			.group-form
				.group-form-radio
					input(type="radio" name="payment" id="online" checked)
					.group-form-radio__text
						label(for="online") Оплата онлайн
							span Банковской картой
				.group-form-radio
					input(type="radio" name="payment" id="ondelivery")
					.group-form-radio__text
						label(for="ondelivery") Оплата при получении
							span Наличными или банковской картой



		.payment__item
			h3 Данные карты
			.group-form
				label Владелец карты
				input(type="text" class="inp-text" placeholder="Имя и фамилия")
			.group-form
				label Номер карты
				input(type="text" class="inp-text" placeholder="XXXX XXXX XXXX XXXX")

			.group-form-card-info
				.group-form-card-info__item
					label Действительна до
					input(type="text" class="inp-text" placeholder="ММ / ГГ")
				.group-form-card-info__item
					label Код безопасности
					input(type="text" class="inp-text")



	button(data-tab="4" class="next-step js-tabs") Оплатить
