build/components/cart/step-4.html

<div class="cart__step-item" id="step-4">
  <div class="result">
    <h2>Заказ успешно оформлен!</h2>
    <p>Оплата успешно прошла и наш менеджер уже получил сообщение об этом. В ближайшее время он с вами свяжется и уточнит детали доставки.</p>
    <p>Номер вашего заказа: X000000</p>
    <p>Спасибо!</p>
  </div>
  <button class="next-step js-tabs" data-tab="1">Вернуться на главную</button>
</div>

src/components/cart/step-4.pug
#step-4.cart__step-item

	.result

		h2 Заказ успешно оформлен!

		p Оплата успешно прошла и наш менеджер уже получил сообщение об этом. В ближайшее время он с вами свяжется и уточнит детали доставки.
		p Номер вашего заказа: X000000
		p Спасибо!



	button(data-tab="1" class="next-step js-tabs") Вернуться на главную
