src/index.pug
doctype html
html(class="no-js", lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		title Корзина. Тестовое задание
		meta(content="", name="description")
		meta(content="", name="keywords")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(content="telephone=no", name="format-detection")
		meta(name="HandheldFriendly", content="true")
		link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
		link(href="css/normalize.css" rel="stylesheet")
		link(href="css/main.css" rel="stylesheet")
	body
		.wrapper
			.cart
				include components/cart/aside.pug

				section.cart__content
					.cart-tabs
						div(data-tab="1" class="cart-tabs__item active js-tabs" id="tab-1") Корзина
						div(data-tab="2" class="cart-tabs__item js-tabs" id="tab-2") Доставка
						div(data-tab="3" class="cart-tabs__item js-tabs" id="tab-3") Оплата
						div(data-tab="4" class="cart-tabs__item js-tabs" id="tab-4") Статус

					.cart__steps
						include components/cart/step-1.pug
						include components/cart/step-2.pug
						include components/cart/step-3.pug
						include components/cart/step-4.pug

		script(src='js/cart.js')

build/index.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Корзина. Тестовое задание</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div class="cart">
        <aside class="cart__total-info">
          <h3>Состав заказа</h3>
          <div class="order-content">
                        <div class="order-content__item">
                          <div class="order-content__text">Товаров в корзине:</div>
                          <div class="order-content__value"><span class="js-goods-quantity">3</span></div>
                        </div>
                        <div class="order-content__item">
                          <div class="order-content__text">Стоимость товаров:</div>
                          <div class="order-content__value"><span class="price js-total-price">63000</span></div>
                        </div>
                        <div class="order-content__item">
                          <div class="order-content__text">Доставка:</div>
                          <div class="order-content__value"><span class="price js-price-delivery">500</span></div>
                        </div>
          </div>
          <div class="order-content__promocode">
            <label>У меня есть промокод:</label>
            <input class="inp-text js-promo-code" type="text" id="promocode">
          </div>
          <div class="order-content__summ">
                        <div class="order-content__item">
                          <div class="order-content__text">Итого к оплате</div>
                          <div class="order-content__value"><span class="price js-total-price-with-delivery">63500</span></div>
                        </div>
          </div>
        </aside>
        <section class="cart__content">
          <div class="cart-tabs">
            <div class="cart-tabs__item active js-tabs" data-tab="1" id="tab-1">Корзина</div>
            <div class="cart-tabs__item js-tabs" data-tab="2" id="tab-2">Доставка</div>
            <div class="cart-tabs__item js-tabs" data-tab="3" id="tab-3">Оплата</div>
            <div class="cart-tabs__item js-tabs" data-tab="4" id="tab-4">Статус</div>
          </div>
          <div class="cart__steps">
            <div class="cart__step-item cart__step-item--1 opened" id="step-1">
              <h2>Ваша корзина</h2>
              <div class="cart-list">
                <div class="cart-list-empty hidden">В вашей корзине нет товаров.</div>
                                <div class="cart-list__item" id="item-1">
                                  <div class="cart-list__img"><img src="images/product1.jpg" alt="Название товара"></div>
                                  <div class="cart-list__info">
                                    <p>Название товара</p><span>коричневый</span><span>Количество: 1</span>
                                  </div>
                                  <div class="cart-list__price"><span class="price">10 500</span></div>
                                  <div class="cart-list__quantity">
                                    <div class="quantity">
                                      <input type="text" value="3" id="val-1">
                                      <div class="quantity__arrows">
                                        <div class="quantity__up js-increase" data-id="1"></div>
                                        <div class="quantity__down js-decrease" data-id="1"></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="cart-list__item-summ"><span class="price js-item-price" id="summ-1">31500</span></div>
                                  <div class="cart-list__del"><span class="js-del" data-del="1"></span></div>
                                </div>
                                <div class="cart-list__item" id="item-2">
                                  <div class="cart-list__img"><img src="images/product2.png" alt="Название товара"></div>
                                  <div class="cart-list__info">
                                    <p>Название товара</p><span>серебристый</span><span>Количество: 1</span>
                                  </div>
                                  <div class="cart-list__price"><span class="price">10500</span></div>
                                  <div class="cart-list__quantity">
                                    <div class="quantity">
                                      <input type="text" value="2" id="val-2">
                                      <div class="quantity__arrows">
                                        <div class="quantity__up js-increase" data-id="2"></div>
                                        <div class="quantity__down js-decrease" data-id="2"></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="cart-list__item-summ"><span class="price js-item-price" id="summ-2">21000</span></div>
                                  <div class="cart-list__del"><span class="js-del" data-del="2"></span></div>
                                </div>
                                <div class="cart-list__item" id="item-3">
                                  <div class="cart-list__img"><img src="images/product3.jpg" alt="Название товара"></div>
                                  <div class="cart-list__info">
                                    <p>Название товара</p><span>черный</span><span>Количество: 1</span>
                                  </div>
                                  <div class="cart-list__price"><span class="price">10500</span></div>
                                  <div class="cart-list__quantity">
                                    <div class="quantity">
                                      <input type="text" value="1" id="val-3">
                                      <div class="quantity__arrows">
                                        <div class="quantity__up js-increase" data-id="3"></div>
                                        <div class="quantity__down js-decrease" data-id="3"></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="cart-list__item-summ"><span class="price js-item-price" id="summ-3">10500</span></div>
                                  <div class="cart-list__del"><span class="js-del" data-del="3"></span></div>
                                </div>
                <div class="cart-list__summ"><span>Итого товаров</span><span class="price js-total-price">63000</span></div>
              </div>
              <button class="next-step js-tabs" data-tab="2">Перейти к доставке</button>
            </div>
            <div class="cart__step-item" id="step-2">
              <div class="delivery">
                <h2>Доставка</h2>
                <div class="delivery__item">
                  <h3>Куда доставить</h3>
                  <div class="group-form">
                    <label>Адрес</label>
                    <input class="inp-text" type="text" placeholder="Город, улица, номер дома">
                  </div>
                  <div class="group-form-address">
                    <input class="inp-text" type="text" placeholder="Квартира">
                    <input class="inp-text" type="text" placeholder="Этаж">
                    <input class="inp-text" type="text" placeholder="Подъезд">
                  </div>
                  <div class="group-form">
                    <label>Комментарий курьеру</label>
                    <textarea placeholder="Как пройти, время, домофон"></textarea>
                  </div>
                </div>
                <div class="delivery__item">
                  <h3>Кому доставить</h3>
                  <div class="group-form">
                    <label>Имя и фамилия</label>
                    <input class="inp-text" type="text">
                  </div>
                  <div class="group-form">
                    <label>Номер телефона</label>
                    <input class="inp-text" type="text" placeholder="+7 (000) 000-00-00">
                  </div>
                  <div class="group-form">
                    <label>Адрес электронной почты</label>
                    <input class="inp-text" type="text">
                  </div>
                </div>
              </div>
              <button class="next-step js-tabs" data-tab="3">Перейти к оплате</button>
            </div>
            <div class="cart__step-item" id="step-3">
              <div class="payment">
                <h2>Оплата</h2>
                <div class="payment__item">
                  <h3>Адрес доставки</h3>
                  <div class="group-form">
                    <div class="group-form-radio">
                      <input type="radio" name="payment" id="online" checked>
                      <div class="group-form-radio__text">
                        <label for="online">Оплата онлайн<span>Банковской картой</span></label>
                      </div>
                    </div>
                    <div class="group-form-radio">
                      <input type="radio" name="payment" id="ondelivery">
                      <div class="group-form-radio__text">
                        <label for="ondelivery">Оплата при получении<span>Наличными или банковской картой</span></label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="payment__item">
                  <h3>Данные карты</h3>
                  <div class="group-form">
                    <label>Владелец карты</label>
                    <input class="inp-text" type="text" placeholder="Имя и фамилия">
                  </div>
                  <div class="group-form">
                    <label>Номер карты</label>
                    <input class="inp-text" type="text" placeholder="XXXX XXXX XXXX XXXX">
                  </div>
                  <div class="group-form-card-info">
                    <div class="group-form-card-info__item">
                      <label>Действительна до</label>
                      <input class="inp-text" type="text" placeholder="ММ / ГГ">
                    </div>
                    <div class="group-form-card-info__item">
                      <label>Код безопасности</label>
                      <input class="inp-text" type="text">
                    </div>
                  </div>
                </div>
              </div>
              <button class="next-step js-tabs" data-tab="4">Оплатить</button>
            </div>
            <div class="cart__step-item" id="step-4">
              <div class="result">
                <h2>Заказ успешно оформлен!</h2>
                <p>Оплата успешно прошла и наш менеджер уже получил сообщение об этом. В ближайшее время он с вами свяжется и уточнит детали доставки.</p>
                <p>Номер вашего заказа: X000000</p>
                <p>Спасибо!</p>
              </div>
              <button class="next-step js-tabs" data-tab="1">Вернуться на главную</button>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="js/cart.js"></script>
  </body>
</html>
